# .DS_Store

# Comment all lines to sent all files and folders

# Init gitignore file

# Remove the application/* folder of the ignored files/folders
!application/*
# Remove the content/* folder of the ignored files/folders
!content/*
# Remove the skecth/* folder of the ignored files/folders
!skecth/*
# Remove the system/* folder of the ignored files/folders
# for the university_market_page() global method implements in CI_Loader
!system/*

# Ignored files and folders
user_guide/*
index.php
license.txt
contributing.md

# CodeIgniter version
# https://api.github.com/repos/bcit-ci/CodeIgniter/zipball/3.1.11

# IDE Files
#-------------------------
# /nbproject/
# .idea/*

# End gitignore file
