.container-main { 
	padding: 10.5px; 
	width: 500px; 
	max-width: 100%; 
	
}

.h5{
	color: black;
}
.h3{
	padding: 10.5px; 
}
.btn-primary{
	border-radius: 5px;
}
.form-control{
	border-radius: 10px;
}

