div#input-group-search-sm {
    display: none;
}
button#btn-search-sm {
    margin-top: 15px;
}
@media only screen and (max-width: 600px) {
    div#input-group-search-lg {
        display: none;
    }
    div#input-group-search-sm {
        display: block;
    }
    #faca-sua-pesquisa {
        font-size: 20px;
    }
}

div.div-filters {
    margin-bottom: 15px;
}
span#filter-valor-qualquer-valor:hover, #filter-problem-report:hover {
    filter: brightness(110%);
    transition: ease 0.25s;
    cursor: pointer;
}